<section class="content-header">
  <h1> {{header}} </h1>
</section>

<section class="content">

  <!-- Filter -->
  <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Filter</h3>
  
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()" ng-disabled="!listView"><i class="fa fa-th-large fa-lg"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="changeView()" ng-disabled="listView"><i class="fa fa-list fa-lg"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Visibility and access rights</label>
                  <ui-select
                    ng-model="selectedAccessFilter"
                    theme="bootstrap"
                    ng-disabled="disabled"
                    reset-search-input="true"
                    title="Choose visibility and access filter"
                    on-select="onAccessFilterSelected($item, $model)">
                      <ui-select-match >
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (accessFilterData | filter: $select.search) track by item.id">
                          <span ng-bind="item.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <!-- TODO: Loading ontology for dropdown needs to be fixed!! -->
              <!-- <div class="dropdown" style="margin: 10px">
                <a ui-sref="root.main.allServices" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Service types
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in itemFilter.subclasses"><a ng-click="refresh(item)" ui-sref="root.main.allServices">{{item}}</a></li>
                </ul>
              </div> -->
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>

<!-- Start -->

<!-- WIDGET VIEW -->
<div ng-show="loadedPage">

  <!-- NOTHING TO SHOW -->
  <div ng-show="noItems" >
     <h2 style="margin-left:20px;">No {{typeOfItem}} found for the current selection...</h2>
 </div>

  <div class="row" ng-if="!listView || imMobile">

    <div class="col-lg-4" ng-repeat="it in items | nameFilter:searchTerm">

      <a ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
 
            <div class="widget-user-header bg-teal-active">
 
              <h3 class="widget-user-username">{{ it.name | limitTo: 20 }}{{it.name.length > 20 ? '...' : ''}}</h3>
              <h5 class="widget-user-desc">{{ it.cid.id.name | limitTo: 20 }}{{it.cid.id.name.length > 20 ? '...' : ''}}</h5>
            </div>
            <div class="widget-user-image" >
              <img class="img-circle" style="background-color: white" ng-src="{{it.avatar}}" alt="Service Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
 
                    <h5 class="description-text" ng-if="it.status === 'disabled'">{{it.statusCaption}}</h5>
                    <h5 class="description-text" ng-if="it.status !== 'disabled'">{{it.privacyCaption}}</h5>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <img style="max-width: 100%" ng-if="it.adid.type === 'shq'" src="img/logos/shqlogo.png"/>
                    <img style="max-width: 100%" ng-if="it.adid.type === 'vcnt'" src="img/logos/vcntlogo.png"/>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 ng-disabled="true" class="description-text" ng-show="!it.isOwner && !it.imFriend && !it.isContracted">
                      Other's Service</h5>
                    <h5 ng-disabled="true" href="#" class="description-text" ng-show="!it.isOwner && it.imFriend && !it.isContracted">
                      Friend's Service</h5>
                    <h5 ng-disabled="true" href="#" class="description-text" ng-show="it.isOwner">
                      My Service</h5>
                    <h5 ng-disabled="true" href="#" class="description-text" ng-show="it.isContracted">
                      Contracted Service</h5>
                      <span>
                        <a href="" ui-sref="root.main.requestService({companyAccountId: it.cid.id._id, serviceId: it._id})" class="btn-xs btn-success btn-block centered" ng-show="!it.isOwner && canRequestService">
                          <i class="fa fa-plus fa-lg"></i><b>Request service</b>
                        </a>
                        <!-- <a href="" ng-disabled="true" class="btn-xs btn-info btn-block centered" ng-show="it.isOwner">
                          <i class="fa fa-user fa-lg"></i><b>My service</b>
                        </a> -->
                      </span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              </div>
            </div>
          </div>
        </a>

    </div>


<!-- LIST VIEW -->

  <div class="box" ng-if="listView && !imMobile && !noItems">
    <div class="box-body">
      <table id="RegTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name<i ng-click="orderByMe('name')" class="fa fa-fw fa-sort"/></th>
            <th>Organisation<i ng-click="orderByMe('organisation')" class="fa fa-fw fa-sort"/></th>
            <th>Status</th>
            <th>Privacy</th>
            <th>Adapter type</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="it in items | orderBy:myOrderBy:rev">
            <td class="col-sm-3">
              <a style="color: #000; z-index: -1" href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">{{it.name}}</a>
            </td>
            <td class="col-sm-2">
              <a style="text-decoration: underline" href="" ui-sref="root.main.companyProfile.services({companyAccountId: it.cid.id._id})">{{it.cid.id.name}}</a>
            </td>
            <td class="col-sm-2">
              <span>{{it.statusCaption}}</span>
            </td>
            <td class="col-sm-2">
              <span>{{it.privacyCaption}}</span>
            </td>
            <td class="col-sm-1">
              <img ng-show="it.adid.type === 'vcnt'" class="node-logo" src="img/logos/vcntlogo.png"/>
              <img ng-show="it.adid.type === 'shq'" class="node-logo" src="img/logos/shqlogo.png"/>
            </td>
            <td class="col-sm-2">
              <div align="center">
                <a class="padded" ng-show="!it.isOwner && canRequestService" href="" ui-sref="root.main.requestService({companyAccountId: it.cid.id._id, serviceId: it._id})">
                     <i style="color:green" class="fa fa-plus fa-lg"></i>
                </a>
                <a class="padded" href="" ui-sref="root.main.serviceProfile.whoSee({serviceId: it._id})">
                   <i class="fa fa-search fa-lg"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--END VIEW BLOCK -->

  <div class="coll-md-1" ng-hide="loaded" style="margin: auto; width:60%">
    <i class="fa fa-refresh fa-spin fa-4x" style="text-align: center; display: block"/>
  </div>

  <div class="centered" ng-show="!allItemsLoaded && loaded">
    <h3 ng-click="loadMore()" class="well" style="cursor: pointer">Load more items</h3>
  </div>

  <div class="centered" ng-show="allItemsLoaded && !noItems">
    <h3 class="well">All items loaded!</h3>
  </div>

</section>
